// scss/styles.scss
@import url("https://use.typekit.net/mpj1rai.css");
@font-face {
    font-family: 'founders_grotesklight';
    src: url('../fonts/foundersgrotesk-light-webfont.woff2') format('woff2'),
         url('../fonts/foundersgrotesk-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'tobiaslight';
    src: url('../fonts/tobias-light-webfont.woff2') format('woff2'),
         url('../fonts/tobias-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

$body-font:'founders_grotesklight',  sans-serif;
$heading-font:'tobiaslight',  sans-serif;
$button-font: "roc-grotesk-wide", sans-serif;


$headings-font-family:$heading-font;
$headings-font-weight:300;
$headings-line-height:0.91;


$font-family-base:$body-font;
$font-weight-base:300;
$line-height-base:1.25;


// Toggle global options
$enable-gradients: false;
$enable-shadows: false;


$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 1.25,
  2: $spacer * 1.875,
  3: $spacer * 2.5,
  4: $spacer * 3.75,
  5: $spacer * 5,
);

$new-spacer:(
    6: $spacer * 7.5,
    7: $spacer * 10,
    21pc:21%,
    10pc:10%,
    9pc:9%,
    8pc:8%,
    4pc:4%,
    6pc:6%,
    5pc:5%,
    3pc:3%,
    30vh:30vh,
    40vh:40vh,
    50vh:50vh,
    60vh:60vh,
    40pc:40%,
    50pc:50%,
    6vw:6vw,
    7vw:7vw,
    8vw:8vw,
    20vw:20vw,
    30vw:30vw,
    tri1:13.2px,
    tri2:6.6px,
    tri3:26.4px,
    10px:10px,
    15px:15px,
    50px:50px,
    65px:65px,
    70px:70px,
    100px:100px,
    200px:200px,
    140px:140px,
);

$spacers:map-merge($spacers, $new-spacer);


// Include functions first
@import "bootstrap/scss/functions";

// Define your custom colors
$custom-dark: #122E2A;
$custom-primary: #F29054;
$custom-accent-green:#B1CB8F;
$custom-accent-blue:#77A5BE;
$custom-accent-yellow:#F0E387;
$custom-neutral:#F9F6EE;
$custom-white:#fff;

// Override Bootstrap variables
$primary: $custom-dark;
$secondary:$custom-accent-green;
$success:$custom-primary;
$dark:$custom-dark;
$light:$custom-neutral;
$body-bg: $custom-neutral;
$body-color: $custom-dark; 

$grid-breakpoints: (
  xs: 0,
  sm: 768px,
  md: 1024px,
  lg: 1366px,
  xl: 1600px,
  xxl: 1920px
);

$cust-grid-breakpoints:(
    highRes:3480px
);

$grid-breakpoints:map-merge($grid-breakpoints, $cust-grid-breakpoints);

$container-max-widths: (
  sm: 768px,
  md: 1024px,
  lg: 1366px,
  xl: 1600px,
  xxl: 1920px
);

$display-font-family:$heading-font;
$display-line-height:1.15em;

// Import Bootstrap variables
@import "bootstrap/scss/variables";
////Buttons
$btn-font-family: $button-font;
$btn-line-height:$font-size-base;
$btn-font-weight:500;
// Import the rest of Bootstrap
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
// @import "bootstrap/scss/tables";
// @import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
// @import "bootstrap/scss/button-group";
// @import "bootstrap/scss/nav";
// @import "bootstrap/scss/navbar"; // Requires nav
// @import "bootstrap/scss/card";
// @import "bootstrap/scss/breadcrumb";
// @import "bootstrap/scss/accordion";
// @import "bootstrap/scss/pagination";
// @import "bootstrap/scss/badge";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
// @import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
// @import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal"; // Requires transitions
// @import "bootstrap/scss/tooltip";
@import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
// @import "bootstrap/scss/spinners";
@import "bootstrap/scss/offcanvas"; // Requires transitions
// @import "bootstrap/scss/placeholders";
// Helpers
// @import "bootstrap/scss/helpers";
// Utilities
@import "bootstrap/scss/utilities/api";
// Custom styles
@import "icon-list";



///general custom
.row{
    margin:0;
    overflow:hidden;
}
div{
    &.--h100{
        height:100%
    }
    &.--w100{
        width: 100%;
    }
}
a{
    text-decoration: none;
}
p{
    @include media-breakpoint-up(lg){
        text-wrap: balance;
            &.--pretty{
            text-wrap: pretty;
        }
    }
}



////Headings/Typography
$ch1:7.188rem;
$ch2:4.063rem;
$ch3:2.188rem;
$ch4:2rem;
$ch5:1.563rem;
$ch6:1.25rem;
$ch7: 1rem;

[class*="cust-font"]{
    font-family: $heading-font;
    line-height:1.15em;
    text-wrap:pretty;
    margin-bottom: 0;
    &.--body-font{
        font-family: $body-font; 
    }
    &.--balance{
        text-wrap: balance;
    }
}

.cust-font-1{
    font-size:calc($ch1*.45);
    line-height:1em;
}
.cust-font-2{
    font-size:calc($ch2*.6);
    line-height:1em;
}   
.cust-font-3{
    font-size:calc($ch3*.9);
}
.cust-font-4{
    font-size:calc($ch4*.9);
}
.cust-font-5{
    font-size:calc($ch5*.9);
}
.cust-font-6{
    font-size:calc($ch6*.9);
}

.cust-font-7{
    font-size:calc($ch7*.9);
    text-transform: uppercase;
    color:$custom-primary;
    font-family: $button-font;
    font-weight: 500;
    &.--light-weight{
        font-weight:400;
    }
}

@include media-breakpoint-up(sm){
    .cust-font-1{
        font-size:$ch1;
    }
    .cust-font-2{
        font-size:$ch2;
    }
    .cust-font-3{
        font-size:$ch3;
    }
    .cust-font-4{
        font-size:$ch4;
        &.--sm{
            font-size:$ch5; 
        }
    }
    .cust-font-5{
        font-size:$ch5;
    }
    .cust-font-6{
        font-size:$ch6;
    }
}

@include media-breakpoint-up(lg){
    .cust-font-4{
        &.--sm{
            font-size:$ch4;
        }
    }
}


@include media-breakpoint-up(highRes){
    .cust-font-1{
        font-size:calc($ch1*2);
    }
    .cust-font-2{
        font-size:calc($ch2*2);
    }
    .cust-font-3{
        font-size:calc($ch3*2);
    }
    .cust-font-4{
        font-size:calc($ch4*2);
        &.--sm{
            font-size:$ch4*2;
        }
    }
    .cust-font-5{
        font-size:calc($ch5*2);
    }
    .cust-font-6{
        font-size:calc($ch6*2);
    }
    .cust-font-7{
        font-size:calc($ch7*2);
    }
    p, a:not(.btn), li{
        font-size:calc($font-size-base*2.5);
    }
}




////BUTTONS///////

 @mixin responsive-btn($size) {
    padding:calc($size*1.2) calc($size*1.07);
    padding-bottom:$size;
    margin-top:calc($size*1.5);
    font-size:calc($size*0.85);
    border-radius:calc($size*1.25);
}

.btn{
    text-transform: uppercase;
    border-width:0;
    transition: all .2s ease-in-out;
    @include responsive-btn(1rem);

    &[class*="btn-outline"] {
        border-width: 1px;
    }
    &.btn-light{
        --bs-btn-hover-bg:#B1CB8F; 
    }
    @include media-breakpoint-up(highRes){
        @include responsive-btn(2rem);
    }
    &:hover{
        border-top-left-radius: 0;
        transition: all .2s ease-in-out;
    }
}

.button-group{
    z-index: 1;
    position: relative;
    
}


///Button icon - for color groups see .primary-custom groups
.btn-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    p{
        margin-top:5px;
        margin-right: 15px;
    }
    svg{
        width:20px;
        height:20px;
    }

    @include media-breakpoint-up(highRes){
        svg{
            width:40px;
            height:40px;
        }
    }
}




//hover effect on images and divs
.image-cnr{
    position: relative;
    svg.cnr-animation{
        fill:$custom-neutral;
        position: absolute;
        bottom: -2px;
        right: -1px;
        width: 30%;
        transform-origin: bottom right;
        transform: scale(1);
        transition: transform .2s ease-in-out;
    }
    &.cnr-constant{
        svg.cnr-animation{
            transform: scale(1);
        }      
    }

    &.cnr-hover-add{
       svg.cnr-animation{
        transform: scale(0);
       }

        &:hover{
            svg.cnr-animation{
                transform: scale(1);
            }
        }
    }

    &.cnr-hover-remove{
        &:hover{
            svg.cnr-animation{
                transform: scale(0);
            }
        }
    }
}


/// image as a background image
.img-fit-height{
    &.col-md-6{
        min-height:50vw;
    }
    @include media-breakpoint-up(xl){
        &.col-md-6{
            min-height:40vw;
        }
    }
}

.img-fit{
    width: 100%;
    height:100%;
    object-fit: cover;
    object-position: 50% 50%;
    position: absolute;
    z-index: 0;
    @include media-breakpoint-up(sm){
        height:100%;
    }
}


////background and button combinations
.custom-primary{
    &.--light-green{
        background-color:$custom-accent-green; 
        h1, h2, h3, h4, p, a:not(.btn), li{
            color:$custom-dark;
        }
        .image-cnr svg.cnr-animation{
            fill:$custom-accent-green;
        }
        .btn-icon{
            transition: all .2s ease-in-out;
            svg{
                stroke:$custom-dark;
            }
            &:hover{
                p{color:$custom-neutral}
                svg{
                    stroke:$custom-neutral;
                }
            }
        }
    }
    &.--dark-green{
        background-color: $custom-dark;
        color:$custom-accent-green;
        h1, h2, h3, h4, p, a:not(.btn), li{
            color:$custom-accent-green;
        }
        .svg-ribbon{
            fill:$custom-accent-green;
        }
    }
    &.--dark-green-neutral{
        background-color: $custom-dark;
        color:$custom-neutral;
        h1, h2, h3, h4, p, a:not(.btn), li{
            color:$custom-neutral;
        }

        .image-cnr svg.cnr-animation{
            fill:$custom-dark;
        }

        .btn-icon{
            transition: all .2s ease-in-out;
            svg{
                stroke:$custom-neutral;
            }
            &:hover{
                p{color:$custom-accent-green}
                svg{
                    stroke:$custom-accent-green;
                }
            }
        }
    }
}

.pod{
    position: relative;
    &.pod-full{
        // position:absolute;
        width: 100%;
        height: 100%;
        // z-index: 1; 
    }
    &:hover{
        button{
            transition: all .2s ease-in-out;
            border-top-left-radius: 0;       
        }
    }
}

// .special{
//     position: relative;
//     .row{
//         position: relative;
//         overflow: visible;
//     }

    
// }
// .special::after{
//     position: absolute;
//     left:0;
//     height:500vh;
//     width: 1px;
//     top: 0;
//     z-index: 1;
//     background-color: red;
//     content: '';
// }