// scss/styles.scss
@import url("https://use.typekit.net/mpj1rai.css");
@font-face {
    font-family: 'founders_grotesklight';
    src: url('../fonts/foundersgrotesk-light-webfont.woff2') format('woff2'),
         url('../fonts/foundersgrotesk-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'tobiaslight';
    src: url('../fonts/tobias-light-webfont.woff2') format('woff2'),
         url('../fonts/tobias-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



$heading-font:'founders_grotesklight',  sans-serif;
$body-font:'tobiaslight',  sans-serif;
$button-font: "roc-grotesk-wide", sans-serif;


// Toggle global options
$enable-gradients: false;
$enable-shadows: false;



// Include functions first
@import "bootstrap/scss/functions";

// Define your custom colors
$custom-dark: #122E2A;
$custom-primary: #F29054;
$custom-accent-green:#B1CB8F;
$custom-accent-blue:#77A5BE;
$custom-accent-yellow:#F0E387;
$custom-neutral:#F9F6EE;
$custom-white:#fff;

// Override Bootstrap variables
$primary: $custom-dark;
$secondary:$custom-accent-green;

$success:$custom-primary;

$dark:$custom-dark;
$light:$custom-neutral;

$body-bg: $custom-neutral;
$body-color: $custom-dark; 
// Import Bootstrap variables
@import "bootstrap/scss/variables";

////Buttons
$btn-border-radius: calc($font-size-base*1.25);
$btn-font-family: $button-font;
$btn-line-height:$font-size-base;
$btn-font-weight:500;
$btn-font-size:calc($font-size-base*0.875);




// Import the rest of Bootstrap
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";


@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";

@import "bootstrap/scss/type";
// @import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
// @import "bootstrap/scss/tables";
// @import "bootstrap/scss/forms";


@import "bootstrap/scss/buttons";


.btn-light {
    $btn-light-bg: $custom-neutral;
    $btn-light-hover-bg: darken($btn-light-bg, 10%);
    @include button-variant(
        $btn-light-bg,
        $btn-light-bg,
        $hover-background: $btn-light-hover-bg
    )
}

.btn-primary{
    $btn-light-bg: $custom-dark;
    $btn-light-hover-bg: red;
    @include button-variant(
        $btn-light-bg,
        $btn-light-bg,
        $hover-background: $btn-light-hover-bg
    )
}


@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
// @import "bootstrap/scss/button-group";
// @import "bootstrap/scss/nav";
// @import "bootstrap/scss/navbar"; // Requires nav
// @import "bootstrap/scss/card";
// @import "bootstrap/scss/breadcrumb";
// @import "bootstrap/scss/accordion";
// @import "bootstrap/scss/pagination";
// @import "bootstrap/scss/badge";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
// @import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
// @import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal"; // Requires transitions
// @import "bootstrap/scss/tooltip";
@import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
// @import "bootstrap/scss/spinners";
@import "bootstrap/scss/offcanvas"; // Requires transitions
// @import "bootstrap/scss/placeholders";

// Helpers
// @import "bootstrap/scss/helpers";

// Utilities
@import "bootstrap/scss/utilities/api";

// Custom styles
@import "icon-list";

///General Button style
.btn{
    text-transform: uppercase;
    padding:calc($font-size-base*1.2) calc($font-size-base*1.07);
    padding-bottom:calc($font-size-base*0.95);
    border-width:0;
    &[class*="btn-outline"] {
        border-width: 1px;
    }
}

.custom-primary{
    background-color: $custom-dark;
    color:$custom-accent-green;
    &.--light{
        background-color:$custom-accent-green; 
        h1, h2, h3, h4, p, a:not(.btn), li{
            color:$custom-dark;
        }
    }
}
