// scss/styles.scss
@import url("https://use.typekit.net/mpj1rai.css");
@font-face {
    font-family: 'founders_grotesklight';
    src: url('../fonts/foundersgrotesk-light-webfont.woff2') format('woff2'),
         url('../fonts/foundersgrotesk-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'tobiaslight';
    src: url('../fonts/tobias-light-webfont.woff2') format('woff2'),
         url('../fonts/tobias-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

$body-font:'founders_grotesklight',  sans-serif;
$heading-font:'tobiaslight',  sans-serif;
$button-font: "roc-grotesk-wide", sans-serif;


$headings-font-family:$heading-font;
$headings-font-weight:300;
$headings-line-height:0.91;


$font-family-base:$body-font;
$font-weight-base:300;
$line-height-base:1.25;


// Toggle global options
$enable-gradients: false;
$enable-shadows: false;


$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.938,
  2: $spacer * 1.875,
  3: $spacer * 2.5,
  4: $spacer * 3.75,
  5: $spacer * 5,
);

$new-spacer:(
    6: $spacer * 7.5,
);

$spacers:map-merge($spacers, $new-spacer);




// Include functions first
@import "bootstrap/scss/functions";

// Define your custom colors
$custom-dark: #122E2A;
$custom-primary: #F29054;
$custom-accent-green:#B1CB8F;
$custom-accent-blue:#77A5BE;
$custom-accent-yellow:#F0E387;
$custom-neutral:#F9F6EE;
$custom-white:#fff;

// Override Bootstrap variables
$primary: $custom-dark;
$secondary:$custom-accent-green;
$success:$custom-primary;
$dark:$custom-dark;
$light:$custom-neutral;
$body-bg: $custom-neutral;
$body-color: $custom-dark; 

$grid-breakpoints: (
  xs: 0,
  sm: 768px,
  md: 1024px,
  lg: 1389px,
  xl: 1600px,
  xxl: 1920px
);

$cust-grid-breakpoints:(
    highRes:3480px
);

$grid-breakpoints:map-merge($grid-breakpoints, $cust-grid-breakpoints);

$container-max-widths: (
  sm: 768px,
  md: 1024px,
  lg: 1389px,
  xl: 1600px,
  xxl: 1920px
);


// Import Bootstrap variables
@import "bootstrap/scss/variables";

////Buttons
$btn-font-family: $button-font;
$btn-line-height:$font-size-base;
$btn-font-weight:500;



// Import the rest of Bootstrap
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
// @import "bootstrap/scss/tables";
// @import "bootstrap/scss/forms";


@import "bootstrap/scss/buttons";
///General Button style


@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
// @import "bootstrap/scss/button-group";
// @import "bootstrap/scss/nav";
// @import "bootstrap/scss/navbar"; // Requires nav
// @import "bootstrap/scss/card";
// @import "bootstrap/scss/breadcrumb";
// @import "bootstrap/scss/accordion";
// @import "bootstrap/scss/pagination";
// @import "bootstrap/scss/badge";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
// @import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
// @import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal"; // Requires transitions
// @import "bootstrap/scss/tooltip";
@import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
// @import "bootstrap/scss/spinners";
@import "bootstrap/scss/offcanvas"; // Requires transitions
// @import "bootstrap/scss/placeholders";

// Helpers
// @import "bootstrap/scss/helpers";
// Utilities


@import "bootstrap/scss/utilities/api";


// Custom styles
@import "icon-list";


.row{
    margin:0;
    overflow:hidden;
}
div{
    &.--h100{
        height:100%
    }
}
a{
    text-decoration: none;
}

////BUTTONS///////

 @mixin responsive-btn($size) {
    padding:calc($size*1.2) calc($size*1.07);
    padding-bottom:$size;
    margin-top:calc($size*1.5);
    font-size:calc($size*0.85);
    border-radius:calc($size*1.25);
}

.btn{
    text-transform: uppercase;
    border-width:0;
    transition: all .2s ease-in-out;
    @include responsive-btn(1rem);

    &[class*="btn-outline"] {
        border-width: 1px;
    }
    &.btn-light{
        --bs-btn-hover-bg:#B1CB8F; 
    }
    @include media-breakpoint-up(highRes){
        @include responsive-btn(2rem);
    }
    &:hover{
        border-top-left-radius: 0;
        transition: all .2s ease-in-out;
    }
}

.button-group{
    z-index: 1;
    position: relative;
}


////Fonts sizes///////
p, a:not(.btn), li{
    @include media-breakpoint-up(highRes){
        font-size:calc($font-size-base*2.5);
    } 
}

h3,
.medium-text{
    font-family:$heading-font;
    font-size:calc($font-size-base*1.2);
    @include media-breakpoint-up(sm){
        font-size:calc($font-size-base*2);
    }
    @include media-breakpoint-up(highRes){
        font-size:calc($font-size-base*4);
    }
}



//hover effect on images and divs
.image-cnr{
    position: relative;
    svg.cnr-animation{
        fill:$custom-neutral;
        position: absolute;
        bottom: -1px;
        right: -1px;
        width: 30%;
        transform-origin: bottom right;
        transform: scale(1);
        transition: transform .2s ease-in-out;
    }
    &.cnr-constant{
        svg.cnr-animation{
            transform: scale(1);
        }      
    }

    &.cnr-hover-add{
       svg.cnr-animation{
        transform: scale(0);
       }

        &:hover{
            svg.cnr-animation{
                transform: scale(1);
            }
        }
    }

    &.cnr-hover-remove{
        &:hover{
            svg.cnr-animation{
                transform: scale(0);
            }
        }
    }
}


/// image as a background image
.img-fit-height{
    &.col-md-6{
        min-height:50vw;
    }
    @include media-breakpoint-up(xl){
        &.col-md-6{
            min-height:40vw;
        }
    }
}

.img-fit{
    width: 100%;
    height:100%;
    object-fit: cover;
    object-position: 50% 50%;
    position: absolute;
    z-index: 0;
    @include media-breakpoint-up(sm){
        height:100%;
    }
}


////background and button combinations
.custom-primary{
    &.--light{
        background-color:$custom-accent-green; 
        h1, h2, h3, h4, p, a:not(.btn), li{
            color:$custom-dark;
        }
        .image-cnr svg.cnr-animation{
            fill:$custom-accent-green;
        }
    }
    &.--dark-green{
        background-color: $custom-dark;
        color:$custom-accent-green;
        h1, h2, h3, h4, p, a:not(.btn), li{
            color:$custom-accent-green;
        }
        .svg-ribbon{
            fill:$custom-accent-green;
        }
    }
}

.pod{
    &.pod-full{
        position:absolute;
        width: 100%;
        height: 100%;
        z-index: 1; 
    }
    &:hover{
        button{
            transition: all .2s ease-in-out;
            border-top-left-radius: 0;       
        }
    }
}

